{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
